.cta-join {
  background: var(--green);
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 5px solid rgba(0, 0, 0, 0.21);
  text-align: center;
  border-radius: 7px;
}
.cta-join:hover,
.cta-join:focus {
  opacity: 0.8;
}
.cta-join > a {
  color: white;
  display: block;
  font-size: 1.7em;
  padding: 0 48px;
}

/* submit button on form on sign up page */
.cta-sign-up {
  color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 6px;
  position: relative;
}
.cta-sign-up span {
  width: 40%;
}
.cta-sign-up svg {
  font-size: 25px;
  top: 6px;
  right: 15px;
  position: absolute;
}

/* loginSignUP page */

.cta-login-su {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.cta-login-su > a {
  color: var(--darkSienna);
  font-weight: bold;
}
