.cta-join {
  background: var(--green);
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 5px solid rgba(0, 0, 0, 0.21);
  text-align: center;
  border-radius: 7px;
}
.cta-join:hover,
.cta-join:focus {
  opacity: 0.8;
}
.cta-join > a {
  color: white;
  display: block;
  font-size: 1.7em;
  padding: 0 48px;
}
