.gi-grill-name,
.gi-cost {
  font-size: 45px;
  color: var(--green);
}

.gi-grill {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 0 5px 10px #bbb;
  font-size: 25px;
}

.gi-grill * {
  padding: 5px;
}

.gi-grill:hover {
  cursor: pointer;
  border: 2px solid var(--green);
}

.gi-grill-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gi-cost {
  text-align: right;
  padding-right: 25px;
  color: var(--darkSienna);
}

.gi-grill-detail {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 500px;
  width: 100%;
}

.gi-grill-name {
  text-align: center;
}

.gi-timeframe {
  display: block;
  text-align: right;
  font-size: 18px;
  color: var(--trolleyGrey);
}

.gi-features-list {
  display: flex;
  flex-direction: column;
  list-style-image: url("../../../images/lists.svg");
  color: var(--darkSienna);
  padding: 0;
  margin-left: 35px;
}

.gi-star-rating {
  display: flex;
  align-items: center;
}

.gi-star-rating .star-fill {
  color: #cccc11;
  font-size: 20px;
}

.gi-grill-img-wrapper img {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .gi-grill {
    flex-direction: column;
    border: 1px solid grey;
    align-items: center;
  }
  .gi-grill-detail {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
  }

  .gi-grill-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .gi-grill {
    font-size: 20px;
  }
  .gi-grill-name,
  .gi-cost {
    font-size: 35px;
  }
}
