.whatIs-section {
  padding-bottom: 50px;
}

.whatIs-information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  ul {
    list-style-image: url(../../images/lists.svg);
    margin-left: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
