
.slide-header {
  width: 100%;
  height: 420px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;

  .overlay-header {
    position: absolute;
    width: inherit;
    text-align: center;
    color: white;
    z-index: 10;
    h1 {
      margin: 0;
      text-transform: uppercase;
    }

    .sub-heading {
      display: block;
    }

    button {
      margin-top: 10px;
      background-color: #ffa042;
      font-size: 16px;
      padding: 12px 24px;
      color: white;
      border-radius: 7px;
      font-weight: 600;
      border: 1px solid rgba(0, 0, 0, 0.21);
      border-bottom: 3px solid rgba(0, 0, 0, 0.21);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #ff9022;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

span {
  width: 100%;
}

.swap-enter {
  transform: translateX(100vw);
}

.swap-enter.swap-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

.swap-leave {
  transform: translateX(0);
}

.swap-leave.swap-leave-active {
  transform: translateX(-100vw);
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 720px) {
  .slide-header {
    height: 100%;
  }
}
