.panel {
  border: 1px solid var(--trolleyGrey);
  border-radius: 5px;
  box-shadow: 0 5px 10px #bbb;
  background: white;
  margin-bottom: 25px;
  padding: 15px;
}
.panel-title {
  border-bottom: 1px solid var(--trolleyGrey);
  font-size: 1.4em;
}
