@import url('https://fonts.googleapis.com/css?family=Indie+Flower%7CNanum+Pen+Script');

* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0; 
  height: 100%;
  width:100%;
  font-family: "Nanum Pen Script", "Indie Flower", Arial, sans-serif;   
  overflow-x: hidden; 
}

/* add css variables here.  */
:root {
	--green: #00A651;
	--trolleyGrey: #818285;
	--gainsboro: #DCE0D9;
	--darkSiena: #31081F;
	--prune: #6B0F1A;
}





